@media only screen and (max-width: 1080px) {
	.navigation-page {
		display: block;
	}
	.ham {
		display: block;
		transform: translateY(0.3rem);
	}
	.nav__list {
		li:not(:first-of-type) {
			display: none;
		}
	}
}
@media only screen and (max-width: 1030px) {
	.row {
		&.col-4 {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.card {
		// width: 100% !important;
	}
}
.slick-prev,
.slick-next {
	display: none !important;
}

@media only screen and (max-width: 890px) {
	.cards {
		// width: 100% !important;
		display: block !important;
		.card {
			margin: 0 1rem;
			height: 30rem;
			box-shadow: none;
		}
	}
	.right,
	.left {
		display: inline-block;
	}
	.season-cards {
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 4rem;
		.content {
			width: 100%;
		}
	}
	h1,
	h2,
	.btn {
		text-align: center !important;
		margin: 0 auto;
		display: block !important;
	}
	.header {
		@include flex(center, $direction: column, $align: flex-end);
	}
	.numbers {
		ul {
			justify-content: center;
		}
	}
}
@media only screen and (max-width: 580px) {
	.slideshow {
		width: 120rem !important;
	}
	.col-3 {
		grid-template-columns: repeat(1, 1fr) !important;
		grid-row-gap: 4rem;
	}
	html,
	body {
		font-size: 50%;
	}
	#subscribe {
		width: 100%;
	}
	.col-4 {
		grid-template-columns: repeat(1, 1fr) !important;
		grid-row-gap: 5rem;
	}
}
